@use '@shared/styles/buttons' as btn;

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.submitWrapper {
  position: relative;
}

.logIn {
  @include btn.primary(0, 100%, 40px);
  margin-top: 20px;
}

.forgotWrapper {
  position: relative;
  padding-bottom: 20px;
}

.forgot {
  @include btn.tertiary(0, 100%, 40px);
}
