EXPO_PUBLIC_API_URL=http://localhost:8000
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=904699722219-hsmhbcc5gd17lu710mff0m26bvauiur3.apps.googleusercontent.com

# Android emulator: http://10.0.2.2:8000
# Physical device: http://<your-lan-ip>:8000
