@use '@shared/styles/colors' as clr;
@use '@shared/styles/typography' as tp;

.sidebar {
  position: sticky;
  top: 72px;
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column: 1;
  height: calc(100vh - 72px);
  padding: 12px 0;
  border-right: 1px solid clr.$ns-300;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  padding: 8px 18px;
  border-radius: 10px;
  cursor: pointer;
  color: clr.$ns-700;
  transition: background 0.2s ease;

  &:hover {
    background: clr.$acc-beige;
  }
}

.active {
  background: clr.$acc-beige;
  color: clr.$prm;

  &:hover {
    background: clr.$acc-beige;
  }
}

.label {
  @include tp.text-caption;
  color: clr.$ns-700;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}
