# Django
# DJANGO_SECRET_KEY=your-very-secret-key-here
# DJANGO_DEBUG=False
# DJANGO_ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com

# PostgreSQL (AWS RDS)
# DATABASE_URL=postgresql://user:password@your-rds-endpoint.rds.amazonaws.com:5432/dbname


# DB_NAME=mydb
# DB_USER=myuser
# DB_PASSWORD=mypassword
# DB_HOST=your-rds-endpoint.rds.amazonaws.com
# DB_PORT=5432

# AWS s3 (for static and media files)
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_STORAGE_BUCKET_NAME=
