:root {
  --color-primary: #474b24;
  --color-primary-dark: #35381b;
  --color-primary-light: #5d6230;

  --color-accent-purple: #cbbefa;
  --color-accent-yellow: #ffeeaa;

  --color-neutrals-900: #1a1c1e;
  --color-neutrals-700: #484b4f;
  --color-neutrals-500: #8a9199;
  --color-neutrals-300: #c2c8cf;
  --color-neutrals-100: #e8e4d8;
  --color-neutrals-50: #f7f3e3;

  --color-error: #a32d2d;
  --color-warning: #d97706;
  --color-success: #1e352f;
}
