@use '@shared/styles/colors' as clr;
@use '@shared/styles/buttons' as btn;
@use '@shared/styles/typography' as tp;
@use '@shared/styles/breakpoints' as bp;

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 80px;
}

.title {
  margin: 0;
  color: clr.$ns-900;

  @include tp.h2;
}

.subtitle {
  max-width: 340px;
  margin: 8px 0 0;
  color: clr.$ns-700;
  font-family: var(--font-sk-modernist);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 40px;
}

.create {
  @include btn.primary(8px, 240px, 40px);
}

.invite {
  @include btn.secondary(0, 240px, 40px);
}

@include bp.mobile {
  .empty {
    justify-content: center;
    min-height: max(
      360px,
      calc(
        100dvh - 270px - env(safe-area-inset-top) - env(safe-area-inset-bottom)
      )
    );
    padding-top: 0;
  }

  .title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
  }

  .subtitle {
    max-width: 370px;
    margin-top: 4px;
    font-size: 14px;
    line-height: 20px;
  }

  .actions {
    gap: 8px;
    margin-top: 32px;
  }

  .create,
  .invite {
    width: 192px;
  }
}
