@use '@shared/styles/colors' as clr;
@use '@shared/styles/buttons' as btn;

.spacer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 16px 0;

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background: clr.$ns-300;
  }
}

.google {
  @include btn.primary(8px, 100%, 40px);
}

.mail {
  @include btn.secondary(8px, 100%, 40px);
}
