@use '@shared/styles/typography' as tp;
@use '@shared/styles/colors' as clr;

.screen {
  display: none;
  flex-direction: column;
  flex-shrink: 0;
  width: 400px;
  box-sizing: border-box;

  > h2 {
    @include tp.h1;
    color: clr.$ns-900;
    margin-bottom: 8px;
    white-space: pre-line;
  }

  > .headline {
    @include tp.text-body;
    color: clr.$ns-700;
    margin-bottom: 64px;
  }
}
