@use '@shared/styles/buttons' as btn;
@use '@shared/styles/colors' as clr;
@use '@shared/styles/animations' as anim;

.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  @include anim.modal-overlay-enter;
}

.modal {
  background: clr.$ns-50;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 560px;
  @include anim.modal-enter;
}

.cropArea {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
  background: clr.$ns-900;
}

.actions {
  display: flex;
  gap: 12px;
}

.confirm {
  @include btn.primary(0, 100%, 40px);
  flex: 1;
}

.cancel {
  @include btn.secondary(0, 100%, 40px);
  flex: 1;
}
