@use '@shared/styles/buttons' as btn;

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.submitWrapper {
  position: relative;
}

.submit {
  @include btn.primary(0, 100%, 40px);
}
