@use '@shared/styles/colors' as clr;
@use '@shared/styles/typography' as tp;
@use '@shared/styles/buttons' as btn;

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 100;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 482px;
  padding: 40px;
  border: 1px solid clr.$ns-100;
  border-radius: 16px;
  background: clr.$ns-50;
}

.close {
  position: absolute;
  top: 23px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background: none;
  color: clr.$ns-700;
  cursor: pointer;

  > svg {
    width: 32px;
    height: 32px;
  }
}

.title {
  @include tp.h2;
  color: clr.$ns-900;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.withHelper {
  padding-bottom: 20px;
}

.actions {
  display: flex;
  gap: 16px;

  > button {
    flex: 1;
  }
}

.cancel {
  @include btn.tertiary(4px, 100%, 40px);
}

.save {
  @include btn.primary(8px, 100%, 40px);
}
