@use '@shared/styles/colors' as clr;
@use '@shared/styles/typography' as typo;
@use '@shared/styles/buttons' as btn;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: clr.$ns-100;
  border: 2px solid clr.$ns-300;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  color: clr.$ns-300;
  transition: background-color 0.2s ease;

  margin-bottom: 12px;

  &:hover {
    background-color: clr.$ns-200;
  }

  svg {
    margin: 37px 44px 51px;
    width: 32px;
    height: 32px;
  }
}

.avatarHasPhoto {
  border-color: clr.$success;
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hiddenInput {
  display: none;
}

.changeBtn {
  @include btn.tertiary(0, 142px, 40px);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(clr.$ns-900, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  z-index: 100;
}

.cropContainer {
  position: relative;
  width: min(480px, 90vw);
  height: min(480px, 90vw);
}

.controls {
  display: grid;
  width: 480px;
  grid-template-columns: 1fr 2fr;
  gap: 12px;
}

.cancelBtn {
  @include btn.secondary(0, 100%, 40px);
}

.confirmBtn {
  @include btn.primary(0, 100%, 40px);
}
