@use '@shared/styles/typography' as tp;
@use '@shared/styles/colors' as clr;
@use '@shared/styles/buttons' as btn;

.profileForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  > span {
    color: clr.$ns-700;

    @include tp.text-body;
  }
}

.btn {
  margin-top: 32px;
  @include btn.primary(0, 100%, 40px);
}
