@use '@shared/styles/colors' as clr;

.wrap {
  position: relative;
  display: flex;
  align-items: center;

  > input {
    width: 100%;
    padding-right: 44px;
  }
}

.eyeBtn {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  color: clr.$ns-500;
  display: flex;
  align-items: center;
  padding: 0;
  transition: color 0.2s ease;

  &:hover {
    color: clr.$ns-700;
  }
}
